*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
    font-family: 'Montserrat';
}
.landingpage{
    height: 100vh;
    /* border: 3px solid red; */
    background-image: url(pictures/hero-cover.3.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    opacity: 0.9;
    color: white;
    font-size: large; 
    font-size: 1em;   
}
.navbar{
    display: flex;
    margin: 20px;
}
.navbar h2{
    justify-content: start;
    margin-left: 200px;
    font-weight: bold;
    font-size: 2em;
}
.navbar ul{
    display:flex;
    list-style: none;
    margin-left: 50px;
    margin-top: 10px;   
}
.navbar ul li{
    margin: 5px;
}
#log{
    margin-left: 800px;
}
#btn{
    background-color: #3FA7F1;
    margin-left: 100px;
    border-radius: 8px;
    width: 15%;
    color: white;
    font-weight: bold;
    border: 1px;

}
.intro{
    padding: 50px;
    margin: 50px;
    text-align: center;
    margin-top: 130px;
    font-size: 30px;
    padding-left: 10%;
}
.welcomenote h2{
    font-size: 300%;
    font-weight: 200%;
    margin-left: -15%;
}
.welcomenote h3{
    margin-top: 30px;
    font-size: 0.9em;
}
.btt{
    margin-left: -15%;
}

#btn1{
    margin-top: 50px;
    background-color: #3FA7F1;
    border-radius: 50px;
    color: white;
    width: 180px;
    height: 50px;
    border: 1px;
}
#btn2{
    background-color: inherit;
    border-radius: 50px;
    color: white;
    border: 1px color white;
    width: 180px;
    height: 50px;
}
.values1{
    height: 27vh;
    /* border: 1px solid red; */
    /* background-color: rgb(250, 250, 250); */
}
.valuebox{
    display: flex;
}
.peace{
    border: 0.1px solid lightgray;
    height: 180px;
    width: 300px;
    margin: 0% 20% 20% 20%;
    text-align: start;
    background-color: white;
    color: black;
    padding-left: 50px;
    opacity: 10;
        
}
.life{
    border: 0.1px solid lightgray;
    height: 180px;
    width: 300px;
    margin: 0% 20% 20% 20%;
    text-align: start;
    background-color: white;
    color: black;
    padding-left: 50px;
    margin-left: -300px;
}
.satisfy{
    border: 0.1px solid lightgray;
    height: 180px;
    width: 300px;
    margin: 0% 20% 20% 20%;
    text-align: start;
    background-color: #3FA7F1;
    color: white;
    padding-left: 50px;
    margin-left: -300px;
}
.qualities{
    height: 100%;
    border: 0px solid black;
    margin-top: 100px;
    /* background: rgb(240, 240, 240); */
}

.list{
    display: flex;
    margin: 10%;
    text-align: center;
    margin-top: 100px;
    justify-content: space-evenly;
    margin-left: 200px;

}
.industry{
    background: rgb(250, 250, 250);
}
.wrds{
    text-align: center;
    padding-top: 100px;
    font-size: 20px;
}
.wrds p{
    font-size: 0.8em;
}
.users{
    margin: 10%;
    margin-left: 15%;
    display: flex;
    justify-content: space-evenly;
}
.user1{
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
    padding: 25px;
    text-align: center;
    height: 200%;
}
.user2{
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
    padding: 25px;
    text-align: center;
    height: 200%;
}
.user3{
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
    padding: 25px;
    text-align: center;
    height: 200%;
}
.user1 img{
    height: 200px;
}
.user2 img{
    height: 200px;
}
.user3 img{
    height: 200px;
}
.checked{
    color: orange;
}
.host ul{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}
#host{
    height: 60px;
    width: 100px;
}